/*** The Best CSS Reset of 2024! ***/
/*** https://github.com/Lazzzer00/Best-CSS-Reset-2024 ***/

/* Box sizing */
// This sets the perceived size of the element in the DOM to include its border.
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin and padding */
// Because some HTMl elements have default margins and paddings on them, this sets the default margin and padding behavior to 0.
* {
  margin: 0;
  padding: 0;
}

/* List decoration */
// For all ordered and unordered lists, turn off the decoration (the number and dots).
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Scroll behavior */
// Set the scroll behavior of all scrollable elements to smooth.
html:focus-within {
  scroll-behavior: smooth;
}

/* Link underline */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

// Make the link underlines and normal underlines skip the "hooky" letters and symbols (q, y, j, g). Makes them look more natural.

/* Image and video settings */
// Responsiveness
// Images aren't responsive by default, and they become by setting this. Magic.
img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

// Inline images
// This sets the inline images to align with the text next to them.
img,
picture,
svg,
video,
canvas {
  vertical-align: middle;
}

// Font on images ?  (  stay with me  )
// In the case an images doesn't load, setting and alternative text that explains the image and that is italic tells the user.
img,
picture,
svg,
video,
canvas {
  font-style: italic;
}

// Background images
// If you want to set an image as a background but the connection is slow, a worse quality image will load first, while the real one loads.
img,
picture,
svg,
video,
canvas {
  background-repeat: no-repeat;
  background-size: cover;
}

/* Inputs */
// Make these elements inherit fonts from parent elements.
input,
button,
textarea,
select {
  font: inherit;
}

/* Prefers reduced motion */
// Simply put, this turns off animations for people who don't want to see them. (The only use case for !important)
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/* The Body and The HTML elements */
// This makes the elements full screen while keeping the scrolling smooth.
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

p,
span,
input {
  color: var(--color-white);
}
