:root {
  --color-primary: #0163b4;
  --color-secondary: #23163b;
  --color-tertiary: #f9ae2c;
  --color-white: #fffee5;
  --color-dark-blue: #000216;
  --color-red: #ff2f45;
  --action-color-rival: #1e242b;
  --action-color-gym: #1e4f10; // Original color #386f29;
  --action-color-dungeon: #2800ac; // Original color #593BBD;
  --action-color-elite4: #2c5993; // Original color #62B2B2;
}
